google                        == 3.0.0
google-api-core               == 2.11.0
google-api-python-client      == 2.72.0
google-auth                   == 2.16.0
google-auth-httplib2          == 0.1.0
google-auth-oauthlib          == 0.8.0
google-cloud-bigquery         == 3.4.0
google-cloud-bigquery-storage == 2.16.2
google-cloud-core             == 2.3.2
google-cloud-secret-manager   == 2.15.0
